@model IEnumerable<Assessment_RaceTrack.Models.Vehicle>
@{ ViewBag.Title = "Race Track";
    
    int rowCount = 0;
     }

<table id="DataTable" style="width:100%;" class="table table-bordered">
    <thead>
        <tr>
            <th>S#</th>
            <th>Vehicle Name</th>
            <th>Type</th>
            <th>Photo</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>  @{rowCount++;}@rowCount </td>
            <td>@item.Name</td>
            <td>@item.Type</td>
            <td>
                <img src="/Content/images/@Url.Content(item.Image==null?"v1.PNG":item.Image)" alt="Image" height="100px" width="100px" />
            </td>
            <td>
                <input type="button" class="btn" onclick="RemoveVehicle('@item.Id')" value="Remove" />
            </td>
        </tr>
        }
    </tbody>
</table>
