@model IEnumerable<Assessment_RaceTrack.Models.Vehicle>

@{ ViewBag.Title = "Race Track";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int totalAllowedVehicle = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["TotalAllowedVehicleOnTrack"]);
    bool activeAdd = Model.Count() < totalAllowedVehicle; }

<script src="~/Scripts/jquery-3.4.1.js"></script>
<div>

    <div>
        <p class="warning alert-info alert">
            Only @totalAllowedVehicle vehicle will allow on track
        </p>
    </div>
    <div class="text-right btn btn-default">
        @if (activeAdd)
        {
            @Html.ActionLink("Add new vehicle on track", "Create", "Vehicle")
        }
        else
        {
            <text>Add action is not available</text>
        }

    </div>
    <div id="dvList">

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        LoadList();

    });
    function RemoveVehicle(vehicleId) {
        if (confirm('Are you sure want to delete?')) {
            $.ajax({
                type: "Post",
                dataType: 'JSON',
                url: "/Track/RemoveVehicleFromTrack",
                data: { "vehicleId": vehicleId},
                success: function () {
                }
            });
            location.reload();
        }
    }
    function LoadList() {
        $.ajax({
            type: "GET",
            url: "/Track/GetVehicle",
            contentType: 'application/html; charset=utf-8',
            dataType: 'html',
            success: function (result) {
                $('#dvList').html(result);
            }
        });
    }
</script>