@model IEnumerable<Assessment_RaceTrack.Models.Vehicle>

@{ ViewBag.Title = "Race Track";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int totalAllowedVehicle = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["TotalAllowedVehicleOnTrack"]);
    bool activeAdd = Model.Count() < totalAllowedVehicle; }

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/racetrack.js"></script>
<div>

    <div>
        <p class="warning alert-info alert">
            Only @totalAllowedVehicle @RaceTrack.ResourceManager.GetString("UI:AllowedVehicleOnTrack")
        </p>
    </div>
    <div>
        <div>
            <input type="button" class="btn btn-success btn-lg btn-block" value="Add vehicle on track" id="btnAdd"  />
        </div>
        
    </div>
    <div id="dvList">

    </div>
</div>
